data/Normalized Weather Data Yggdrasil-20220922T134908Z-001/
api/node_modules
api/.DS_Store
api/zip_files/.DS_Store
api/zip_files
api/csv_files
.DS_Store
.vscode
models/transformer/__pycache__
models/transformer4/__pycache__/*
models/transformer4/lightning_logs/*
models/transformer/lightning_logs/*
models/TemporalFusionTransformer/__pycache__
models/TemporalFusionTransformer/lightning_logs/*
lightning_logs/*
models/transformer3/
*.pyc
models/lstm/__pycache__*
models/lstm/ffm.ipynb
models/lstm/lstm_model_old.py
models/lstm/lstm_old.py